header .social-nav .icon {
  margin-left: 1em;
}

footer .social-nav {
  color: $white;
}

footer .social-nav .icon {
  margin-right: 1em;
}

.icon {
    &, &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.footer-branding {
  max-width: 10rem;
}

header .nav-link {
  font-weight: bold;
  font-size: 1.25rem;
  color: $secondary;
}

.motif {
  max-width: 3rem;
  width: 100%;
  display: inline-block;
}

@media screen and (max-width: 400px) {
  .social-nav {
    display: none;
  }
}
